## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,0.90,84,100,5.20,overcast clouds
1,1,Mar Del Plata,AR,-38.0023,-57.5575,8.40,57,75,0.45,moderate rain
2,2,Porto Belo,BR,-27.1578,-48.5531,20.91,87,100,8.34,overcast clouds
3,3,Upata,VE,8.0086,-62.3989,26.22,70,80,3.17,broken clouds
4,4,Husavik,IS,66.0449,-17.3389,11.95,69,100,1.59,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

#if statement in case somebody inputs the temps backwards
if min_temp > max_temp:
    temp = max_temp
    max_temp = min_temp
    min_temp = temp

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 20

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities.count()

Unnamed: 0             298
City                   298
Country                289
Lat                    298
Lon                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lon"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = np.nan
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
0,Dikson,RU,0.90,overcast clouds,73.5069,80.5464,NaN
1,Mar Del Plata,AR,8.40,moderate rain,-38.0023,-57.5575,NaN
4,Husavik,IS,11.95,overcast clouds,66.0449,-17.3389,NaN
6,Saldanha,ZA,13.03,overcast clouds,-33.0117,17.9442,NaN
8,Bredasdorp,ZA,13.62,few clouds,-34.5322,20.0403,NaN
9,Havre-Saint-Pierre,CA,17.20,overcast clouds,50.2334,-63.5986,NaN
10,Rawson,AR,7.08,broken clouds,-43.3002,-65.1023,NaN
12,Bagan,RU,17.40,overcast clouds,54.1001,77.6646,NaN
14,Qaanaaq,GL,3.79,overcast clouds,77.4840,-69.3632,NaN
15,Hermanus,ZA,13.83,scattered clouds,-34.4187,19.2345,NaN

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lon = row['Lon']
    
    #coordinates key for params dict
    params['location'] = f'{lat}, {lon}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [14]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
1,Mar Del Plata,AR,8.40,moderate rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,Husavik,IS,11.95,overcast clouds,66.0449,-17.3389,BjarnabÃºÃ°
6,Saldanha,ZA,13.03,overcast clouds,-33.0117,17.9442,Blue Bay Lodge
8,Bredasdorp,ZA,13.62,few clouds,-34.5322,20.0403,Bredasdorp Country Manor
9,Havre-Saint-Pierre,CA,17.20,overcast clouds,50.2334,-63.5986,Auberge Niapiskau
10,Rawson,AR,7.08,broken clouds,-43.3002,-65.1023,Hosteria Sampedro
14,Qaanaaq,GL,3.79,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
15,Hermanus,ZA,13.83,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
19,Bulnes,CL,10.42,clear sky,-36.7423,-72.2985,Casa de Adobe
21,Nuuk,GL,9.34,light snow,64.1835,-51.7216,Vandrehuset

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lon"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))